/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: gray;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}


.desktop-card {
  width: 340px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px;
}

.user-header-with-image {
  display: flex;
  gap: 16px;
}

.user-header {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.user-name {
  font-weight: 450;
  font-size: large;
}

.user-twitter-handle{
  font-weight: 100;
  font-size: small;
}