
@media screen and (max-width: 200px) {
  .title {
    font-size: 16px;
  }
}
@media screen and (min-width: 200px) and (max-width: 400px) {
  .title {
    font-size: calc(100vw / 12.5);
  }
}
@media screen and (min-width: 400px) {
  .title {
    font-size: 32px;
  }
  }